In [157]:
import pandas as pd

df_pop = pd.read_csv("data/population_communes.csv")
df_surf = pd.read_csv("data/surface_departements.csv")

In [183]:
dfm = pd.merge(df_pop,df_surf,left_on = "Code département", right_on = "code_insee",how="left")

In [182]:
surface_dep = dfm[["nom","surf_km2"]].groupby("nom").sum()
pop_region = dfm[["Nom de la région","variable","value"]].groupby(["Nom de la région","variable"])

idx = pd.IndexSlice

pop_region_2 = pop_region.sum().loc[idx[:,["Population totale"]],:].reset_index()[["Nom de la région","value"]]

In [180]:
pivot = pd.pivot_table(dfm,index = ["nom","Nom de la région"] ,columns = "variable",values ="value" ,aggfunc="sum")
pivot_s = pd.merge(pivot,surface_dep,how="inner",left_index=True,right_index=True).reset_index()
pivot_s["dens"]=pivot_s["Population totale"]/pivot_s["surf_km2"]
pivot_f = pd.merge(pivot_s,pop_region_2,how="left",left_on="Nom de la région", right_on="Nom de la région")

In [184]:
pivot_f.head(5)

,nom,Nom de la région,Population municipale,Population totale,surf_km2,dens,value
0,Ain,Auvergne-Rhône-Alpes,638425,655171,4708176.0,0.139156,8104357
1,Aisne,Hauts-de-France,536136,549587,11916888.0,0.046118,6110588
2,Allier,Auvergne-Rhône-Alpes,339384,349336,4678286.0,0.074672,8104357
3,Alpes-Maritimes,Provence-Alpes-Côte d'Azur,1083704,1098539,1399844.0,0.784758,5103573
4,Alpes-de-Haute-Provence,Provence-Alpes-Côte d'Azur,162565,167331,2769228.0,0.060425,5103573

# Time Series

In [124]:
pd.date_range('2018-12-20',freq = 'B', periods = 20)

DatetimeIndex(['2018-12-20', '2018-12-21', '2018-12-24', '2018-12-25',
               '2018-12-26', '2018-12-27', '2018-12-28', '2018-12-31',
               '2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-07', '2019-01-08', '2019-01-09', '2019-01-10',
               '2019-01-11', '2019-01-14', '2019-01-15', '2019-01-16'],
              dtype='datetime64[ns]', freq='B')