In [296]:
import requests as r
import json
from pandas.io.json import json_normalize
import pandas as pd
headers =  {'Accept':'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',\
            'Accept-Encoding':'',\
            'Accept-Language':'en-US,en;q=0.5',\
            'Connection':'keep-alive',\
            'User-Agent':'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:69.0) Gecko/20100101 Firefox/69.0',\
            'Vessel-Image':'002f40ca5a525116eb93e6cc78a359dd5f10',\
           }
#     'X-Requested-With':'XMLHttpRequest',\
#     'Upgrade-Insecure-Requests':'1',
#     "Date": "Fri, 11 Oct 2019 11:10:29 GMT",\
#     "Content-Type": "application/json; charset=UTF-8",\
#     "Transfer-Encoding": "chunked",\
#     "Connection": "keep-alive",\
#     "Expires": "Fri, 11 Oct 2019 12:07:51 GMT",\
#     "Access-Control-Allow-Origin": "http://www.marinetraffic.com",\
#     "Access-Control-Allow-Credentials": "true",\
#     "X_UA": "None",\
#     "X-Cache": "HIT",\
#     "X-Cache-Hits": "42",\
#     "Strict-Transport-Security": "max-age=15552000; includeSubDomains",\
#     "Vary": "Accept-Encoding, X_UA",\
#     "CF-Cache-Status": "DYNAMIC",\
#     "Expect-CT": "max-age=604800, report-uri='https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct'",\
#     "Server": "cloudflare",\
#     "CF-RAY": "524063486954cdbb-CDG"}

#l=r.get("https://www.marinetraffic.com/getData/get_data_json_4/z:2/X:1/Y:1/station:0", headers = headers)
df = pd.DataFrame()
for i in range(1,5):
    for j in range(1,5):
        for k in range(1,5):
            try:
                url = "https://www.marinetraffic.com/getData/get_data_json_4/z:{}/X:{}/Y:{}/station:0".format(i,j,k)
                l=r.get(url, headers = headers)  
                m=json.loads(l.text)
                df1 = json_normalize(m['data']['rows'])
                df = df.append(df1)
                print((i,j,k)), print(df1.shape)
            except:
                continue

(2, 1, 1)
(2288, 21)
(3, 1, 1)
(2435, 21)
(3, 1, 2)
(1368, 21)

/home/jorge/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

(3, 1, 3)
(3, 19)
(3, 2, 1)
(2239, 21)
(3, 2, 2)
(1305, 21)
(3, 2, 3)
(1, 12)
(3, 3, 1)
(2251, 21)
(3, 3, 2)
(1558, 21)
(3, 3, 3)
(1, 16)
(4, 1, 1)
(2, 12)
(4, 1, 2)
(402, 21)
(4, 1, 3)
(1294, 21)
(4, 1, 4)
(309, 12)
(4, 2, 1)
(53, 21)
(4, 2, 2)
(770, 21)
(4, 2, 3)
(2507, 21)
(4, 2, 4)
(1019, 21)
(4, 3, 1)
(107, 21)
(4, 3, 2)
(1566, 21)
(4, 3, 3)
(1655, 21)
(4, 3, 4)
(1105, 21)
(4, 4, 1)
(410, 21)
(4, 4, 2)
(2202, 21)
(4, 4, 3)
(1739, 21)
(4, 4, 4)
(1075, 21)

In [327]:
df[df["SHIPNAME"]=="[SAT-AIS]"]["SHIP_ID"].unique()

array(['TWpjeE1UTXlNamN4TVRNeU1qY3hNUT09LW8rbkpGY3k5d0RyZ2JmMm5XdTN2aWc9PQ==',
       'TXpVME5UYzRNelUwTlRjNE16VTBOUT09LWpCNTNDSStTbzkyN0l4blQ5M0RCL3c9PQ==',
       'TmpBMk5UUXlOakEyTlRReU5qQTJOUT09LStDS1Q1RVV2TzRSSjB1dXdqb2RzUHc9PQ==',
       ...,
       'T0RJMU5qUXlPREkxTmpReU9ESTFOZz09LXlDVnpsdk8xYlptbjd0UFFRanpoSmc9PQ==',
       'TXpZek5UUTBNell6TlRRME16WXpOUT09LTlkQ0ZmY2tYeExSMmoxQURwdHZPd2c9PQ==',
       'TXpFek9ESTJNekV6T0RJMk16RXpPQT09LXg3eFlCSkJ3U1h5c2NGNlZwcjNYOEE9PQ=='],
      dtype=object)

In [312]:
len(df["SHIPNAME"].unique())

8314

In [313]:
df.groupby("SHIPTYPE")["SHIPNAME"].nunique()

SHIPTYPE
0     245
1     105
2     697
3     974
4      23
6     464
7    3817
8    1724
9     358
Name: SHIPNAME, dtype: int64

In [304]:
df[pd.to_numeric(df["DWT"])>5000]
df["SHIPNAME"].astype(str,copy=False)
df[df["SHIPNAME"].str.contains("MINERVA")]
df.shape,df.drop_duplicates().shape
#dfd=df.drop_duplicates(subset="SHIPNAME")

((29664, 21), (29585, 21))

In [305]:
dfd[dfd["SHIPNAME"].str.contains("MINERVA ASTRA")]
dfd["SHIPNAME"].values
c=df.groupby("SHIPNAME")["SHIP_ID"].nunique()
#d=pd.to_numeric(c,'float').sort_values(ascending=False)

In [311]:
df["SHIPNAME"].value_counts()

[SAT-AIS]               16888
ALMI SUN                    9
HELENA                      7
ANNA                        7
CONCEPTION LIGHT            7
PUSAN C                     7
SCF USSURI                  7
USMA                        7
MAERSK YORKTOWN             7
MAERSK LAUNCESTON           7
MSC JOSSELINE               6
YASA H.MULLA                6
HELEN N                     6
X PRESS ANNAPURNA           6
STENA CONQUEST              6
MISTRAL                     6
PATRIOT                     6
NORSUL CRATEUS              6
NAVIOS ASTERIKS             6
MSC CLARA                   6
ORVAR                       6
MSC KATYAYNI                6
WILLEM VAN DER ZWAN         6
MAX JACOB                   6
NAUTILUS                    6
HOEGH CHIBA                 6
ORE BRASIL                  6
TEXAS                       6
MSC MELINE                  6
ANNELIES ILENA              6
                        ...
BG DIAMOND                  1
ALKHAIRAT 9                 1
ARCO AVON                   1
SCF ENDEAVOUR               1
WUGANG INNOVATION           1
J.M.CHRISTIAN 7             1
BIRTHE BRES                 1
GLOBAL EFFORT               1
ISL STAR                    1
BT 452                      1
SCOUT                       1
KRITI SEA                   1
ASTURCON                    1
AVA D                       1
NSU OBELISK                 1
EXCELLENCE                  1
DOHA                        1
COSTA ATLANTICA             1
VTS 2515017                 1
WES NICOLE                  1
SOUTHERN ROUSE              1
NORMA H                     1
AMERICAN ANGLER             1
RAGNHILD KRISTINE           1
BUOY 944                    1
RHONA                       1
PAN BONA                    1
VOLGO BALT 240              1
FRONTIER YOUTH              1
DESTINATION ANYWHERE        1
Name: SHIPNAME, Length: 8314, dtype: int64